.navbar-white{
    background-color: #fff;
    border-bottom: 1px solid #d4d4d5;
    box-shadow: 0 1px 3px 0 #d4d4d5,0 0 0 1px #d4d4d5;
    margin-bottom:0;
}
.wrapper{
    margin-top:60px;
}
.entry{
    margin-bottom: 20px;
}
.entry-title{
    margin: 10px 0 5px 0;
    padding:0;
}
.entry-title a {
    color: #464C51;
    text-decoration: none;
}
.entry-meta{
    margin-bottom: 5px;
}
.entry-thumbnail{
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}
.entry-thumbnail img{
    
}
.entry-content{
    height:80px;
    overflow:hidden;
}
.footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
}