<template name="FooterBanner">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- catland_footer -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-2681012140605765"
         data-ad-slot="9091494270"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    
    <!-- <div class="footer-banner">

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <img src="/images/footer-banner-sample.png" class="img-responsive" alt="">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <img src="/images/footer-banner-sample.png" class="img-responsive" alt="">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <img src="/images/footer-banner-sample.png" class="img-responsive" alt="">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <img src="/images/footer-banner-sample.png" class="img-responsive" alt="">
            </div>
        </div>
    </div> -->
</template>