<template name="FooterBanner">
    <div id="googleAds" class="text-center"></div>
    
    <!-- <div class="footer-banner">

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <img src="/images/footer-banner-sample.png" class="img-responsive" alt="">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <img src="/images/footer-banner-sample.png" class="img-responsive" alt="">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <img src="/images/footer-banner-sample.png" class="img-responsive" alt="">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3">
                <img src="/images/footer-banner-sample.png" class="img-responsive" alt="">
            </div>
        </div>
    </div> -->
</template>