<template name="footer">
    <footer class="footer">
        <div class="information">
            <div class="row">
                <div class="container">
                    <p class="text-blue-light">CATLAND.ONLINE</p>
                    <p>35 เพชรเกษม 48/1 แขวงบางหว้า</p>
                    <p>เขตภาษีเจริญ กรุงเทพมหานครฯ 10160</p>
                    <img src="/images/line@.png">
                        @catland
                    <img src="/images/facebook.png">
                        catland
                    <img src="/images/instagram.png">
                        catland
                </div>
            </div>
        </div>
        <div class="copyright"><img src="/images/logo60.png" alt=""> Copyright ©2016 catland.online All right reserved - Powered by
        <a href="http://www.facebook.com/toskysoft/" target="_blank">toSKYsoft</a></div>
    </footer>
</template>
