<template name="footer">
    <footer class="footer">
        <div class="information">
            <div class="row">
                <div class="container">
                    <div class="text-center">
                        <p class="text-blue-light">CATLAND.ONLINE</p>
                        <p>35 เพชรเกษม 48/1 แขวงบางหว้า</p>
                        <p>เขตภาษีเจริญ กรุงเทพมหานครฯ 10160</p>
                    </div>
                    <div class="visible-xs-block">
                        <div class="col-xs-6 text-right">
                            <p>
                                <img src="/images/line@60.png">
                            </p>
                            <p>
                                <img src="/images/facebook60.png">
                            </p>
                            <p>
                                <img src="/images/instagram60.png">
                            </p>
                        </div>
                        <div class="col-xs-6">
                            <p>
                                <a href="http://line.me/ti/p/s.yongyee.t">s.yongyee.t</a>
                            </p>
                            <p>
                                <a href="https://www.facebook.com/catlandonline/">Catland Online</a>
                            </p>
                            <p>
                                <a href="https://www.instagram.com/mtlfarm/">mtlfarm</a>
                            </p>
                        </div>
                    </div>
                    <div class="hidden-xs text-center">
                        <img src="/images/line@60.png"><a href="http://line.me/ti/p/%40mtlfarm">@mtlfarm</a>
                        <img src="/images/facebook60.png"><a href="https://www.facebook.com/mtlfarm">MTL Farm</a>
                        <img src="/images/instagram60.png"><a href="https://www.instagram.com/mtlfarm/">mtlfarm</a>    
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="row visible-xs">
                <div class="container">
                    <div class="col-xs-3">
                        <img src="/images/logo60.png" alt="">
                    </div>
                    <div class="col-xs-9">
                        Copyright ©2016 catland.online All right reserved - Powered by <a href="http://www.facebook.com/toskysoft/" target="_blank">toSKYsoft</a>
                    </div>
                </div>
            </div>
            <div class="hidden-xs">
                
                <img src="/images/logo60.png" alt=""> Copyright ©2016 catland.online All right reserved - Powered by
                <a href="http://www.facebook.com/toskysoft/" target="_blank">toSKYsoft</a>
            </div>
        </div>
    </footer>
</template>
