<template name="header">
    <header>
        <nav class="navbar navbar-cat">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand navbar-link" href="{{pathFor 'home'}}">
                        <img src="/images/logo60.png" alt="">
                    </a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{{activeRouteClass 'home'}}">
                            <a href="{{pathFor 'home'}}">Home</a>
                        </li>
                        <li class="{{activeRouteClass 'Blogs'}}">
                            <a href="{{pathFor 'Blogs'}}">Blogs</a>
                        </li>
                        <li class="{{activeRouteClass 'AboutUs'}}">
                            {{#linkTo route="AboutUs"}}
                                เกี่ยวกับเรา
                            {{/linkTo}}
                        </li>
                        {{#if currentUser}}
                        {{> loginButtons}}
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row">
        <div class="col-sm-12">
            <img src="/images/cover_catland.png" class="img-responsive" alt="Catland Cover" style="width:100%">
            <!-- <img src="/images/logo100.png" alt="">
            <p class="cover-title">
                Cat Land Online
            </p>
            <p class="cover-slogan">
                ดินแดนแห่งแมว สวรรค์ของทาสแมว
            </p> -->
        </div>
    </div>

</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <a href="{{pathFor 'AdminHome'}}">
        <button class="btn btn-default btn-block" id="login-buttons-edit-profile">Admin Dashboard</button>
    </a>
    <a href="{{pathFor 'MemberFarmHome'}}">
        <button class="btn btn-default btn-block" id="login-buttons-edit-profile">Farm Dashboard</button>
    </a>
</template>
