<template name="header">
    
     <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand navbar-link" href="{{pathFor 'home'}}"><span class="text-title">Cat Land</span></a>
                    <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                </div>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{{activeRouteClass 'home'}}">
                            <a class="page-scroll" href="{{pathFor 'home'}}">Home</a>
                        </li>
                        <li class="{{activeRouteClass 'Blogs'}}">
                            <a class="page-scroll" href="{{pathFor 'Blogs'}}">Blogs</a>
                        </li>
                        {{#if currentUser}}
                            {{> loginButtons}}
                        {{/if}}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <a href="{{pathFor 'CatAdminHome'}}">
    <button class="btn btn-default btn-block" id="login-buttons-edit-profile">Admin Dashboard</button>
    </a>
</template>