<template name="header">
    <nav class="navbar navbar-white navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{{pathFor 'home'}}">Cat Land Online</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="{{activeRouteClass 'home'}}">
                        <a class="page-scroll" href="{{pathFor 'home'}}">Home</a>
                    </li>
                    <li class="{{activeRouteClass 'Blogs'}}">
                        <a class="page-scroll" href="{{pathFor 'Blogs'}}">Blogs</a>
                    </li>
                    {{#if currentUser}}
                        <li class="dropdown">
                          {{> notifications}}
                        </li>
                        {{> loginButtons}}
                    {{/if}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <a href="{{pathFor 'CatAdminHome'}}">
    <button class="btn btn-default btn-block" id="login-buttons-edit-profile">Admin Dashboard</button>
    </a>
</template>