$pinkColor = #ff7e79
$purpleColor = #9437ff
$greenColor = #73fcd6

body
    margin 0
    padding 0
    .frontend
        background-color #ebebeb
        width 100%
        hr
            border 1px solid #cecece
        .content
            margin-bottom 100px
        .breadcrumbs
            background-color transparent
        .contact-info
            background-color $greenColor
            padding 5px 0
        .navbar
            border-radius 0
            .icon-bar
                background-color $greenColor
        .navbar-cat
            background-color $pinkColor
            color white
            margin-bottom 0
            li
                a
                    color white
                    text-decoration none
                    &:hover
                        background-color transparent
                &:hover
                    a
                        color #fff67e
                        text-decoration underline
                &.active
                    a
                        color #fff67e
                        text-decoration underline
        .navbar-brand
            img
                height 50px
                margin-top -14px
        .cover
            background-image url(/images/cover.jpg)
            background-repeat no-repeat
            background-size cover
            background-position center
            height 250px
            width 97%
            text-align center
            @media (max-width: 480px)
                width 95%
            .cover-title
                font-size 30px
                color: white;
                text-shadow: -2px 0 $purpleColor, 0 2px $purpleColor, 2px 0 $purpleColor, 0 -2px $purpleColor;
            .cover-slogan
                font-size 24px
                color: white;
                text-shadow: -2px 0 $pinkColor, 0 2px $pinkColor, 2px 0 $pinkColor, 0 -2px $pinkColor;
            img
                margin 0
                @media (max-width: 499px)
                    margin-left 12%
                @media (min-width:500px) and (max-width: 600px)
                    margin-left 10%
                @media (min-width:601px) and (max-width: 767px)
                    margin-left 9%
        header.page-header
            border none
            margin 20px 0 20px 0
            padding 5px
            text-align center
            h1
                margin 0
        .breadcrumb
            background-color transparent
        .entry-post
            box-shadow 0 1px 5px 1px rgba(black,0.46)
            margin-bottom 20px
            .post-thumbnail
                position relative
                overflow hidden
                height 200px
                a
                    color white
                    text-decoration none
                    &:hover
                        color #575757
                img
                    width 100%
                    position absolute
                    top 0
                    left 0
                    &:hover + .over-image
                            opacity 1
                            background-color white

                .over-image
                    opacity 0
                    position absolute
                    top: 68%;
                    left: 50%;
                    transform: translate(-50%, -150%);
                    background-color #8d8d8d
                    padding 10px
                    box-shadow 0 2px 5px 3px rgba(black,0.5)
                    text-transform uppercase
                    transition all 0.5s ease
                    &:hover
                        opacity 1
                        background-color white
                        a
                            color #575757
            .post-title
                text-align center
                font-size 1.2em
                padding 10px 10px
                height 4.1em
                overflow hidden
            .post-date
                font-size 0.7em
                text-align right
                padding 0 5px
                color #a9a9a9
        .paging
            margin-top 20px
            .btn-paging
                background-color #8d8d8d
                color white
                display block
                text-align center
                padding 5px 0
                border-radius 3px
                box-shadow 0 2px 5px 1px rgba(black,0.5)
                text-decoration none
                transition all 0.3s ease
                &:hover
                    transform scale(1.3)
        .footer
            background-color $pinkColor
            .copyright
                background-color $greenColor
                text-align center
                padding 10px 0
        .post-content-header
            margin-bottom 40px
            word-wrap break-word
        .post-content-body
            font-size 1.4em
            margin-bottom 40px
            min-height 300px
            img
                max-width 100%
