/*@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.errors{
  position: fixed;
  z-index: 10000;
  padding: 10px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  pointer-events: none;
}
.alert {
          animation: fadeOut 2700ms ease-in 0s 1 forwards;
  -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
     -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
  width: 250px;
  float: right;
  clear: both;
  margin-bottom: 5px;
  pointer-events: auto;
}
.entry-header {
  margin-bottom: 15px;
}
.entry-post{
  margin: 0 0 30px;
  padding: 0 0 30px;
  border-bottom: 1px solid #ebebeb;
}
.entry-thumb {
  padding-left: 0;
  margin-bottom: 30px;
  overflow: hidden;
  height:250px;
}
.entry-thumb-image {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}
.entry-thumb img:hover {
  -webkit-transform: rotate(5deg) scale(1.2);
  -ms-transform: rotate(5deg) scale(1.2);
  transform: rotate(5deg) scale(1.2);
}
.entry-title {
  margin: 0;
  color: #444;
  font-size: 30px;
}
.entry-title a {
  color: #444;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}*/