.farm
    .farm-logo
        img
            width 100%
    footer
        background-color #391c08
        padding 20px
        text-align center
        color white
        img
            height 70px
        h5, .h5
            font-size 20px
            font-weight 300