<template name="MemberHeader">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand navbar-link" href="{{pathFor 'MemberFarmHome'}}"><span class="text-title">Cat Land</span></a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav navbar-right">
                    {{#if openFarm}}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                แมว <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{pathFor 'MemberFarmCats'}}">รายการแมว</a></li>
                                <li><a href="{{pathFor 'MemberFarmCatCreate'}}">เพิ่มแมว</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                ตั้งค่าฟาร์ม <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{pathFor 'MemberFarmSettingGeneral'}}">ทั่วไป</a></li>
                                <li><a href="{{pathFor 'MemberFarmSettingContactUs'}}">ติดต่อเรา</a></li>
                                <li><a href="{{pathFor 'MemberFarmSettingPromotion'}}">โปรโมชั่น</a></li>
                            </ul>
                        </li>
                    {{/if}}
                    <li><a href="{{pathFor 'EditMemberProfile'}}">แก้ไขข้อมูลส่วนตัว</a></li>
                    {{#if currentUser}}
                        {{> loginButtons}}
                    {{/if}}
                </ul>
            </div>
        </div>
    </nav>
</template>
